<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>KITシャトルバスβ</title>
  <link rel="stylesheet" href="css/main.css">
 </head>
 <body>
  <div id="main">
   <div id="mainContent">
    <div id="rideBus">
     <div id="departureTime"></div>
     <div id="notif">乗車の何分前に通知する？<input type="number" id="beforeAlert" value="10">分前</div>
    </div>
    <div class="tabGroup">
     <input type="radio" name="shuttle" id="shuttle1" value="outward"><!--
  --><label for="shuttle1">往路（扇が丘→八束穂）</label><!--
  --><input type="radio" name="shuttle" id="shuttle2" value="homeward"><!--
  --><label for="shuttle2">復路（八束穂→扇が丘）</label>
    </div>
    <div id="timetable">
   </div>
  </div>
 </div>
<script id="departureTimeTmpl" type="text/template">
乗車バス時刻: <span class="departureTime"><% if (departureTime === '') { %>未選択<% } else { %><%- departureTime %><% } %></span>
</script>
<script id="timetableTmpl" type="text/template">
 <table>
  <thead></thead>
  <tbody></tbody>
 </table>
</script>
<script id="timetableHeaderOutwardTmpl" type="text/template">
 <tr>
  <th>1号館発</th>
  <th>74号館着</th>
  <th>61号館着</th>
  <th>65号館着</th>
 </tr>
</script>
<script id="timetableHeaderHomewardTmpl" type="text/template">
 <tr>
  <th>65号館発</th>
  <th>61号館発</th>
  <th>74号館発</th>
  <th>1号館着</th>
 </tr>
</script>
<script id="timetableRowOutwardTmpl" type="text/template">
 <tr>
  <td><%- building1 %></td>
  <td><%- building74 %></td>
  <td><%- building61 %></td>
  <td><%- building65 %></td>
 </tr>
</script>
<script id="timetableRowHomewardTmpl" type="text/template">
 <tr>
  <td><%- building65 %></td>
  <td><%- building61 %></td>
  <td><%- building74 %></td>
  <td><%- building1 %></td>
 </tr>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="js/kitbus.min.js"></script>
 </body>
</html>
